<!DOCTYPE html>
<html lang="{{ site.Language.Locale }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  {{/* Πρώτο εστιάσιμο στοιχείο της σελίδας: με ένα Tab ο χρήστης πληκτρολογίου
       προσπερνάει ολόκληρο το μενού και πάει στο περιεχόμενο. Φαίνεται μόνο
       όταν πάρει εστίαση (βλ. .skip-link στο main.css). */}}
  <a class="skip-link" href="#main-content">Μετάβαση στο περιεχόμενο</a>

  {{ partial "header.html" . }}

  <main id="main-content">
    {{ block "main" . }}{{ end }}
  </main>

  {{ partial "footer.html" . }}
  {{ partial "cookie-banner.html" . }}

  {{/* JS */}}
  {{ $js := resources.Get "js/main.js" | minify | fingerprint }}
  <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" crossorigin="anonymous" defer></script>
</body>
</html>
